body{
    margin:0;
    font-family:Arial;

}

.editor{
    display:flex;
    width:100vw;
    height: 100vh;
   
}
.toolbar{
    width: 200px;
    height: 100%;
    background:turquoise;
    position: fixed;
}

.toolbar-label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    position: fixed;
}

.zonaImagine{
    flex-grow: 1;
    padding:20px;
    background:white;
}

#canvas{
    margin-left: 220px;
    margin-top: 20px;
}

button {
    margin-top: 10%;
    background: yellowgreen;
    border: 4px solid black;
    color: black;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-family: 'Arial';
  }